<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
<body>
    <style>
        .bg-primary { background-color: #415057; }
        .color-primary { color: #415057; }
        .color-secondary { color: #33353A; }
    </style>
    
    <div class="w-full h-screen ">
        <div class="w-full h-full ">
            <img src="/hero.jpg" class="w-screen h-screen ">
        </div>
    </div>
</body>
</html>