<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
<body>
    <style>
        .bg-primary { background-color: #415057; }
        .color-primary { color: #415057; }
        .color-secondary { color: #33353A; }
    </style>
    
    <div class="w-full h-16 text-[17px] bg-primary flex p-1">
        <!-- <a href="/Login" class=" pl-12">
            <img src="/logo.png" class="cursor-pointer w-16 h-auto ">
        </a> -->
         <div class="flex space-x-20 h-full justify-center items-center w-full">
            <a href="/">Home</a>
            <a href="/">About</a>
            <a href="/">Contact</a>
            <a href="/">Login</a>
         </div>
    </div>
</body>
</html>